.container {
  width: 33%;
  display: flex;
  justify-content: center;
  text-decoration: inherit;
  color: inherit;
}

.card {
  position: relative;
  width: 386px;
  height: 444px;
  margin: 0 20px 103px 20px;
  padding: 16px;
  cursor: pointer;
}

.greenCart {
  position: absolute;
  bottom: 72px;
  right: 30px;
  display: none;
  cursor: pointer;
}

.greenCart:hover {
  transform: scale(1.05);
}
.greenCart:active {
  transform: scale(0.98);
}

.card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.card:hover > .greenCart {
  display: block;
}

.imageContainer {
  width: 354px;
  height: 330px;
  margin-bottom: 24px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  font-size: 18px;
  height: 29px;
}

.price {
  font-size: 18px;
  height: 29px;
}
