.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 7%;
}

.leftContainer {
  display: flex;
  height: 80px;
  width: 33%;
}

.filterItem {
  padding: 0 16px;
  color: #1d1f22;
  font-size: 16px;
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterItem:hover {
  color: #5ece7b;
}

.filterItem.active {
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
}

.centerContainer {
  height: 80px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerContainer a {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 33%;
}

.currencySwitcher {
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.currenciesCard {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  position: absolute;
  top: 65px;
  padding: 20px 20px 0 20px;
}

.currencySwitcher span {
  margin-right: 10px;
  font-size: 18px;
}

.currencyItem {
  margin-bottom: 20px;
}

.miniCart {
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
