::-webkit-scrollbar {
  width: 8px;
  z-index: 101;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 7%;
}

.headerLeftContainer {
  display: flex;
  height: 80px;
  width: 33%;
}

.filterItem {
  padding: 0 16px;
  color: #1d1f22;
  font-size: 16px;
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterItem:hover {
  color: #5ece7b;
}

.filterItem.active {
  color: #5ece7b;
  border-bottom: 1px solid #5ece7b;
}

.headerCenterContainer {
  height: 80px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerContainer a {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRightContainer {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 33%;
}

.currencySwitcher {
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.currenciesCard {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  position: absolute;
  left: 0px;
  top: 65px;
  width: 130px;
  padding: 20px 20px 0 20px;
  z-index: 99;
  background-color: #fff;
}

.currencySwitcher span {
  margin-right: 10px;
  font-size: 18px;
}

.currencyItem {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.miniCartContainer {
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartIcon {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.quantityOnCart {
  background-color: #1d1f22;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  position: absolute;
  left: 12px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.miniCart {
  height: 540px;
  width: 325px;
  z-index: 100;
  position: absolute;
  top: 80px;
  right: 7%;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.cartTitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.items {
  max-height: 315px;
  overflow-y: auto;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price {
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: inherit;
}

.leftContainer h1,
.leftContainer h2 {
  font-size: 16px;
  font-weight: 300;
  color: #1d1f22;
  margin-bottom: 6px;
  width: 136px;
}

.attributesContainer {
  width: 136px;
}
.colorAttribute {
  display: flex;
}

.colorSample {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 4px;
  outline: 1px solid #b6b6b6;
}

.rightContainer {
  display: flex;
  align-items: center;
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

.quantityContainer button {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 1px solid #1d1f22;
  font-size: 16px;
  cursor: pointer;
}

.quantityContainer button:active {
  transform: scale(0.98);
}

.productImage {
  height: 137px;
  width: 105px;
  object-fit: cover;
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.buttonContainer button {
  width: 140px;
  height: 43px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.viewBag {
  color: #1d1f22;
  background-color: #fff;
  border: 1px solid #1d1f22;
}

.checkOut {
  color: #fff;
  background-color: #5ece7b;
  border: none;
}
